* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", serif;
}

/**/


/* HEADER CONTAINER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(54, 54, 231);
    height: 100px;
    width: 100%;
    padding: 0 20px; /* Adds some padding to the left and right */
}

/* HEADER CONTAINERS */
header > h1,
header > div#container-button
{
    width: 20%;
}

header > h1{
    font-weight: lighter;
    color: white;
}

header > form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

header > div#container-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER ELEMENTS */
div#container-button > #toggle-unit{
    height: 2rem;
    width: 2rem;
}

header input#input-search {
    border-radius: 10px;
    width: 50%;
    height: 2rem;
    padding: 5px;
}



#container-grid{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 0.3fr 0.8fr;
}

#grid-item-current-conditions{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 40px 20px;

}

#grid-item-current-conditions > p{
    text-align: center;
}


#current-conditions{
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    gap: 20px;
    
}

#conditions-description{
    padding: 15px;
    border: 1px solid black;
    text-align: center;
}

#condition-details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


#grid-item-week-conditions{
    
}

