
:root{
    --primary-color: rgb(54, 54, 231);
    --secondary-color: rgba(44, 103, 233, 0.849);
}


* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", serif;
}

/* HEADER CONTAINER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 100px;
    width: 100%;
    padding: 0 20px;
}

/* HEADER CONTAINERS */
header > h1,
header > div#container-button
{
    width: 20%;
}

header > h1{
    font-weight: lighter;
    color: white;
}

header > form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

header > div#container-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* HEADER ELEMENTS */
div#container-button > #toggle-unit{
    height: 2rem;
    width: 2rem;
}

header input#input-search {
    border-radius: 10px;
    width: 50%;
    height: 2rem;
    padding: 5px;
}



#container-grid{
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: 0.15fr 1fr;
}

#grid-item-current-conditions{
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin: 40px 20px;

}

#grid-item-current-conditions > p{
    text-align: center;
}


#current-conditions{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    background-color:  var(--secondary-color);
}

#current-conditions img{
    height: 5rem;
    width: 5rem;
}

hr.dotted {
    border-top: 3px dotted #bbb;
    border-bottom: none;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    color: black;
  }




.bolded-text{
    font-weight: bold;
}


#grid-item-weekly-conditions{
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(170px, 1fr));
    gap: 30px;
    padding: 50px;
    width: 100%;
    justify-content: center;
}

#grid-item-weekly-conditions .weekly-conditions-item{

    
    text-align: center;
    border-radius: 15px;
    background-color: rgba(44, 103, 233, 0.849);

}

.weekly-conditions-item > .item-header{
    background-color: var(--primary-color);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    color: white;
}

.weekly-conditions-item > .item-info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.weekly-conditions-item > img{
    height: 5rem;
    width: 5rem;
}



